@keyframes showDown {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showUp {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showLeft {
    from {
        opacity: 0;
        transform: translateX(-15px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes showRight {
    from {
        opacity: 0;
        transform: translateX(15px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes showFade {
    from { opacity: 0 }
    to { opacity: 1 }
}


.floatButton {
    display: none;
}
@media screen and (min-width: 1500px) and (orientation: landscape) {
    .floatButton {
        display: block;
        position: fixed;
        bottom: 48px;
        right: 48px;
    }
}






.errorPage {
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.errorPageTB {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.errorPage h1 {
    font-family: SFPro, serif;
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 0 10px;
    text-align: center;
}

.errorPage p {
    font-family: SFPro, serif;
    font-size: 18px;
    font-weight: 400;
    color: #C2C2C2;
    text-align: center;
    max-width: 800px;
    padding: 0 10px;
}

.editTitle {
    font-family: SFPro, serif;
    font-size: 20px;
    color: #737373;
    margin-bottom: 30px;
    text-align: center;
    animation: showFade 1.5s ease-in-out;
}

.importProjectModalTitle {
    font-family: SFPro, serif;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    text-align: center;

    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.importProjectModalTitleCategoryName {
    font-weight: 600;
}


.importProjectButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.catalogFilters {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.catalogDownFilters {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-bottom: 75px;
}

.catalogSort {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.projectCommentsTitleContainer {
    margin-top: 50px;
    border-top: 1px solid #313134;
}

.projectCommentsTitle {
    font-family: SFPro, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 52px;
    margin-bottom: 20px;
}
