@keyframes show {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    padding: 0 26px;
    margin-bottom: 24px;
    max-width: 1000px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 100px;
}

.rightContainer,
.leftContainer {
    display: flex;
    flex-direction: column;
    gap: 45px;


}

.title {
    font-family: SFPro, serif;
    font-weight: 500;
    font-size: 28px;
}

.information {
    grid-area: information;
    width: 400px;
}

.social {
    grid-area: social;
    width: 400px;
}

.tags{
    grid-area: tags;
    width: 400px;
}

.resume{
    grid-area: resume;
    width: 400px;
}

.information,
.social,
.tags,
.resume {
    display: flex;
    flex-direction: column;
    gap: 16px;
    animation: show 1s ease-in-out;
}

.informationRows {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.tagsTitle {
    font-family: SFPro, serif;
    font-weight: 500;
    font-size: 24px;
}
